# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
venv/

# Django
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Mac / Linux
.DS_Store

# Static files (если не хочешь в git)
static/

# migrations cache (НЕ удалять миграции!)
**/__pycache__/
__pycache__/
*.pyc
db.sqlite3
media/
venv/
env/
myenv/
.vscode/
.idea/
db.sqlite3
myenv/
__pycache__/
*.pyc
media/